.tx
  .page-header
    %h1
      Transaction
      %small
        = @tx.id

  %section.well
    .row
      .col-sm-1.text-right
        %strong Total In
      .col-sm-11
        %p= render_btc @tx.total_in
    .row
      .col-sm-1.text-right
        %strong Total Out
      .col-sm-11
        %p= render_btc @tx.total_out
    .row
      .col-sm-1.text-right
        %strong Fee
      .col-sm-11
        %p= render_btc @tx.fee

  - if @tx.wallet_tx?
    %section
      %h2 Wallet
      .row
        .col-sm-2.text-right
          %strong Received Amount
        .col-sm-10
          %p= render_btc @tx.received_amount

  %section
    %h2
      Inputs
      %span.badge= @tx.in.size
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Prev Tx
          %th Prev Tx Idx
          %th Amount
          %th Estimated From Address
          %th Type
          %th ScriptSig
      %tbody
        - @tx.in.each do |txin|
          %tr
            %td
              %a{href: "/tx/#{txin.id}"}= txin.id
            %td= txin.idx
            %td= render_btc txin.amount
            %td= txin.estimated_from_address
            %td ?
            %td ?

  %section
    %h2
      Outputs
      %span.badge= @tx.out.size
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Idx
          %th Redeemed at input
          %th Amount
          %th To Addresses
          %th Type
          %th ScriptPubKey
      %tbody
        - @tx.out.each do |txout|
          %tr
            %td= txout.idx
            %td ?
            %td= render_btc txout.amount
            %td= txout.addresses.join(', ')
            %td ?
            %td ?

  %section
    %h2
      Raw Tx
      %small getrawtransaction
    %pre
      = preserve JSON.pretty_generate @tx.raw

  - if @tx.wallet_tx?
    %section
      %h2
        Raw Wallet Tx
        %small gettransaction
      %pre
        = preserve JSON.pretty_generate @tx.wallet_tx.raw

